
.App {
    background: rgb(39,122,176);
    background: linear-gradient(90deg, rgba(39,122,176,1) 0%, rgba(37,37,210,1) 35%, rgba(37,184,214,1) 100%);
    height: 350px;
}
.topmain {
    background: rgb(248, 248, 248);
}

.name {
    padding-top: 100px;
    font-family:monospace;
    text-align: center;
    color: rgb(231, 229, 229);
    font-size: 70px;
    font-weight: bolder;

}

.h3top {
    font-size: 50px;
    font-weight: bolder;
}
.avatar {
    padding-top: 50px;
    width: 20%;
    margin: auto;
}
.avatar>img {
    border-radius: 50%;
    border: 1px solid gainsboro;
    width: 100%;
}

.avatar_title {
    padding-top: 30px;
    width: 53%;
    font-size: medium;
    margin: auto;
    text-align: center;
    color: rgb(92, 92, 92);
}


@media (min-width: 630px) and (max-width: 750px){
    .name {
        padding-top: 120px;
        font-family:monospace;
        text-align: center;
        color: white;
        font-size: 70px;
        font-weight: bolder;
    
    }
    .avatar{
        width: 50%;
    }
    .avatar_title{
        width: 80%;
    }
    .h3top {
        font-size: 50px;
        font-weight: bolder;
    }
}
@media (min-width: 308px) and (max-width: 629px){
    .name {
        padding-top: 120px;
        font-family:monospace;
        text-align: center;
        color: white;
        font-size: 40px;
        font-weight: bold;
    
    }
    .avatar{
        width: 70%;
    }
    .avatar_title{
        width: 100%;
    }
    .h3top {
        font-size: 30px;
        font-weight: bold;
    }
    .App {
        height: 250px;
    }
}